@tailwind base;
@tailwind components;
@tailwind utilities;

/* Sidebar */
#sidebar {
  z-index: 9999;
}

/* Statistic Card */
.chartInner {
  @apply flex flex-col justify-center absolute rounded-full px-0 py-5 overflow-hidden;
  top: 22%;
  right: 20%;
  bottom: 20%;
  left: 20%;
  line-height: 120%;
  z-index: -1; /* Allow tooltips on top */
}

/* jani meeting list */
.meeting__title-container,
.header__container {
  justify-content: space-between;
}

.meeting__group-container {
  @apply flex flex-col justify-center rounded-xl bg-white h-40;
}

.meeting-group-icon {
  @apply flex justify-center items-center w-12 h-12 ml-5 mr-2 rounded-xl;
}

.schedule__group-box {
  @apply flex justify-center items-center border border-solid rounded-2xl w-9/12 py-3 ml-3;
}

.sched-pic {
  @apply p-2 rounded-full flex flex-row justify-center items-center mr-3 ml-2;
}

.time {
  @apply text-gray-50 mb-8 md:mb-5 2xl:mb-10;
}

.meeting-team__profile-container {
  justify-content: space-between;
}

/* calendar */
.Sample input,
.Sample button {
  font: inherit;
}
.Sample header {
  background-color: #323639;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.5);
  padding: 20px;
  color: white;
}
.Sample header h1 {
  font-size: inherit;
  margin: 0;
}
.Sample__container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: flex-start;
  margin: 10px 0;
  padding: 10px;
}
.Sample__container > * > * {
  margin: 10px;
}
.Sample__container__content {
  display: flex;
  max-width: 100%;
  flex-basis: 420px;
  flex-direction: column;
  flex-grow: 100;
  align-items: stretch;
  padding-top: 1em;
}
.Sample__container__content .react-calendar {
  margin: 0 auto;
}

.react-calendar {
  width: 100% !important;
  border: 0 !important;
  font-family: "Inter", sans-serif !important;
}

.react-calendar__title:active {
  @apply bg-blue-200 text-white rounded-xl !important;
}

.react-calendar button:focus {
  border: 0 !important;
  outline: 0 !important;
}

abbr {
  text-decoration: none !important;
}

/* dropdown */
.dropdown:focus-within .dropdown-menu {
  opacity: 1;
  transform: translate(0) scale(1);
  visibility: visible;
}

.meeting__group-container:hover .meeting__group-btn {
  display: block;
  background: #fff;
}

.meeting__group-container:hover .meeting__group-time {
  color: #fff;
}

.fc-button {
  background: #2c71ff !important;
  outline: 0 !important;
  border: none !important;
}

.fc-button:focus {
  border: none !important;
  outline: 0 !important;
  background: #ff562d !important;
}

.fc-button-primary:focus {
  border: none !important;
  outline: 0 !important;
  background: #ff562d !important;
}

.bell-button:focus {
  outline: 0 !important;
}
